body{
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif;
	background-color: white;
}
.container-x{
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 5.5em;
}
.container-x:after{
	content: "";
	display: table;
	clear: both;
}
.container{
	
	padding-bottom: 3em;
	padding-left: 1em;
	padding-right: 1em;
}
/*all links*/
a{
	text-decoration: none;
	color: black;
}
/*navbar*/
#navbar{
	position: fixed;margin:0; padding: 0;top:0; width:100%; z-index:1;visibility: visible;
	box-shadow:  0px 10px 20px #888888;
}
#navbar nav{
	background-color: white;
}
nav div{
	height:48px;
	width:48px;
	border-left: 1px solid #EEEEEE;
}
#navbar .menu-icon{
	background-image: url("assets/menu-icon.png");
	background-size: contain;
	background-position: center;
}
#navbar .search-icon{
	background-image: url("assets/search-icon.png");
	background-size: contain;
	background-position: center;
}
/*message*/
#message{
	background: rgb(255,221,51);
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 1px;
	margin-top: -4px;
	font-size: 10px;
	text-align: center;
	padding-bottom: 1px;
	line-height: 1em;
	clear: both;
}
/*top story*/
#top-tech #logo{
	position: absolute; font-size: 120px; font-family: 'Monoton',Times;padding-left: 20px;font-weight: medium; color: white;visibility: hidden;
}
[class*="top-story-col-"] {
	float:initial;	
	padding-right: 0;
	width: 100%;
}
.top-story-col-1{
	/*width: 65%;*/
	/*padding-right: 0.5em;*/
}
.top-story-col-2{
	/*width: 33.5%;*/
}
.top-story{
	height: 50vw;
	margin-top: 0.5em;
	position: relative;
}
.text{
	position: absolute;
	bottom: 0;
	left: 0.5em;
	right: 0.5em;
	background-size: cover;
	background-position: center;
	padding-bottom: 0.5em;
}
.text a{
	color:white;
}
.text a:first-child{
	font-size: 17px;
	font-family: 'Saira';
}
.title{
	font-size: 20px;
	font-weight: bold;
}
.text p{
	font-size: 12px;
	line-height: 0;
	color: grey;
}
#top-tech{
	/*Firefox 3.6 to 15*/
	background: -moz-linear-gradient(to bottom right, rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url("assets/main-pic.jpg");
	/*safari 5.1 to 6.0*/
	background: -webkit-linear-gradient(to bottom right, rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url("assets/main-pic.jpg");
	/*Opera 11.1 to 12.0*/
	background: -o-linear-gradient(to bottom right, rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url("assets/main-pic.jpg");
	/*Standard syntax(must be last)*/
	background: linear-gradient(to bottom right, rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url("assets/main-pic.jpg");
	background-size: cover;
	background-position: center;
}
#top-2{
	/*Safari 5.1 to 6.0*/
	background: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/second-pic.jpg");
	/*Opera 11.1 to 12.0*/
	background: -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/second-pic.jpg");
	/*Firefox 3.6 to 15*/
	background: -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/second-pic.jpg");
	/*Standard syntax(must be last)*/
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/second-pic.jpg");
	background-size: cover;
	background-position: center;
}
#top-3{
	/*Safari 5.1 to 6.0*/
	background: -webkit-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/third-pic.jpg");
	/*Opera 11.1 to 12.0*/
	background: -o-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/third-pic.jpg");
	/*Firefox 3.6 to 15*/
	background: -moz-linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/third-pic.jpg");
	/*Standard syntax(must be last)*/
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("assets/third-pic.jpg");
	background-size: cover;
	background-position: center;
}
/*latest news*/
.article-name{
	font-size: 12px;
	font-weight: bold;
	display: block;
	line-height: 1.5em;
}
.article-author{
	font-size: 10px;
	color: grey;
	clear: right;
}
.b{
	position: relative;
	clear: both;
}
.b img{
	height: 72px;
	width: 72px;
	padding-right: 1em;
	padding-bottom: 1em;
	float: left;
}
.top-right{
	position: relative;
	margin-top: -20px;
}
/*Latest funding*/

#latest-funding > div{
	position: relative;
	background: rgb(255,250,248);
}
#latest-funding #header{
	background: rgb(255,68,34);position: relative;height: 3em;
}
#latest-funding #subheader{
	background: rgb(255,235,230);position: relative;height:4em;
}
#latest-funding h4{
	margin:0px;padding:0px;position: absolute;top:1em;left: 5.5em;
}
#latest-funding #header h4{
	color:white;
}
#latest-funding #subheader p{
    margin:0px;padding:0px;position: absolute;font-size:11px;font-family: saira;top:3em;left:8em;
}
#latest-funding #pic-1{
	position: absolute; top:1em;left:1em;
}
#latest-funding #link{
	font-size: 12px;
}
#ad-capital{
	position: absolute;top: 8em;left:1em;
}
#latest-funding #footer{
	margin:0 0 0.5em 0;padding:0 0 1em 1em; margin-top: 5em;border-top: 1px solid rgb(255,205,194);
}
#latest-funding span{
	color:rgb(172,172,172);
}
/*topics*/
.square{
	position:relative;
	height:65vw;
}
.app .text{
	bottom: 0.5em;
	left: 1em;
}
.app .title{
	font-size: 20px;
	line-height: 1.1;
}
.latest{
	background:rgb(255,244,242);
	position: relative;
	height: 6em;
	color: rgb(255,68,34);
}
.latest .subheader{
	position: relative;
	left: 1em;
	margin-right: 7.5em;

}
.latest .subheader p{
	font-family: 'Saira';font-size: 14px;margin:0;padding-top: 0.5em;
}
.latest .subheader a{
	font-size: 14px; font-weight: bold; color: rgb(255,68,34);
}
.topic ul{
	padding: 1em;margin: 0;
}
.topic li{
	color:#F42;border-bottom: 1px solid #EEEEEE;padding-bottom: 10px;
}
.topic li a{
	color: #555 ;font-size: 12px;
}
.topic li a:hover{
	color: black;
}
#app{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-app-pic.jpg");
	background-size: cover;
	background-position: center;
}
#gear{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-gear-pic.jpg");
	background-size: cover;
	background-position: center;
}
#tech{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-tech-pic.jpg");
	background-size: cover;
	background-position: center;
}
#creative{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-creative-pic.jpg");
	background-size: cover;
	background-position: center;
}
#tech{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-tech-pic.jpg");
	background-size: cover;
	background-position: center;
}
#contributor{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-contributor-pic.jpeg");
	background-size: cover;
	background-position: center;
}
#insight{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-insight-pic.jpg");
	background-size: cover;
	background-position: center;
}
#launch{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-launch-pic.jpg");
	background-size: cover;
	background-position: center;
}
#world{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-world-pic.jpg");
	background-size: cover;
	background-position: center;
}
#distract{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("assets/topic-distract-pic.jpg");
	background-size: cover;
	background-position: center;
}
/*latest news*/
.price{
	font-size: 12px;
	color: black;
}
.price strike{
	color: grey;
}
/*extra info*/
#extra-info{
	background: #131313;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 3em;
}
#extra-info div{
	margin-top:2em;
}
#extra-info p{
	font-family: 'Saira', sans-serif;
	color:#FFFFFF;
	margin:0;
}
#extra-info div:nth-child(-n+3){
	min-width: 230px;
	float: left;
	width:30%;
}
#extra-info div p:first-child, #extra-info a{
	color: #AAAAAA;
}
#extra-info span{
	color:#555555;
	font-size: 13px;
}
#extra-info a:hover{
	color: #FFFFFF;
}
#extra-info div:last-child{
	margin-top: 1em;
}
/*footer*/
footer{
	background: #000000;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}
footer p{
	color: #AAAAAA;
	margin:0;
	padding: 0;
	font-size: 12px;
}
footer span{
	color: white;
	font-family: 'Monoton';
	font-size: 15px;
}
/*general classes*/

.right{
	float: right;
}
.left{
	float: left;
}
.hide{
	visibility: hidden;
	clear: both;
}
.section-header{
	font-size: 25px;
	color: #F42;
	font-weight: bold;
	font-family: 'Poppins',sans-serif;
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1em;
	
}
.section-header:hover{
	color: black;
}
/*navbar-2*/
.row.wrapper{
	position: absolute;/*absolute*/
	visibility: hidden;/*hiden*/
}
/*navbar*/

@media screen and (min-device-width: 768px){

	/*navbar2*/
	#navbar{
		position: absolute;visibility: hidden;
	}
    ul{
		margin:0;padding:0;list-style-type: none;
	}
	#top li{
		display: inline;
		padding: 2px;
		font-size: 13px;
	}
	#bottom li{
		display: inline;
	}
	#bottom .left li{
		padding:0.5em;
		font-size: 12px;
	}
	#navbar-2 a{
		color: #B2B2B2;
		text-decoration: none;
	}
	#bottom .left a:hover{
		color: black;
	}
	#top a:hover{
		color: white;
	}
	.right{
		float: right;
	}
	.left{
		float: left;
	}
	#bottom .right li{
		margin-right: 12px;
	}

	#top{
		background-color: black;
		padding: 0.5em;
	}
	#bottom{
		background-color: white;
		padding: 1em;
		z-index: 1;

	}
	.row:after{
		content:"";
		display: table;
		clear: both;
	}
	#navbar2-logo{
		width:13%;height:5.5em;background-size: cover; background-position: center;float:left;background-image: url(assets/medium-logo.png);
	}
	#navbar-2{
		width:87%;float:left;

	}
	.row.wrapper{
		position: fixed;/*absolute*/
		visibility: visible;/*hidden*/
		width:100%;
		z-index: 2;
		top:0;
		box-shadow: 0px 5px 10px #888888;
		background-color: white;
	}
	/*top stories*/
	[class*="top-story-col-"] {
	float:left;	
	}
	.top-story-col-1{
		width: 65%;
		padding-right: 0.5em;
		height: 100%;
	}
	.top-story-col-2{
		width: 33.5%;
	}
	.top-story{
		height: 30vw;
		margin-top: 0.5em;
		position: relative;
	}
	#top-tech{
		height: 61vw;
	}
	#top-tech .title{
		font-size: 30px;
	}
	/*latest news*/
	#latest-news:after{
		content: "";
		display: table;
		clear: both;
	}
	.article-name{
		font-size: 12px;
		font-weight: bold;
		display: block;
		line-height: 1.5em;
		color: black;
		margin-top: 1em;
	}
	.article-name:hover{
		color: #FF4422;
	}
	.article-author{
		font-size: 10px;
		color: grey;
		clear: right;
	}
	
	.b{
		position: relative;
		clear: initial;
		width: 30%;
		float: left;
	}
	.b img{
		width: 100%;
		height: 60%;
		float: initial;
	}
	.top-right{
		position: relative;
		margin-top: -20px;
	}
	/*grid layout*/
	.row:after{
		content: "";
		display: table;
		clear: both;
		width: 100%;
	}
	[class*="col-md"]{
		box-sizing: border-box;
		padding: 0.5em;
		float: left;
		height: 24vh;
	}
	.col-md-1{
		width: 8.333%;
	}
	.col-md-4{
		width: 33.333%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-8{
		width: 66.667%;
	}
	.col-md-12{
		width: 100%;
	}
	/*latest funding*/
	#latest-funding [class*="col-md"]{
		height: 40vw;
	}
	/*topics*/
	.topic.col-md-6{
		min-height: 750px;
	}
	.square{
		position:relative;
		height: 40%;
	}
	/*latest deals*/
	#latest-deals{
		padding-bottom: 1em;
	}
}
@media screen and (min-device-width: 1042px){
	#top-tech #logo{
		position: absolute; font-size: 120px; font-family: 'Monoton',Times;padding-left: 20px;font-weight: medium; color: white;visibility: visible;
	}
	[class*="top-story-col-"] {
	float:left;	
	}
	.top-story-col-1{
		width: 65%;
		padding-right: 0.5em;
		height: 100%;
	}
	.top-story-col-2{
		width: 33.5%;
	}
	.top-story{
		height: 15vw;
		margin-top: 0.5em;
		position: relative;
	}
	#top-tech{
		height: 31vw;
		/*Safari 5.1 to 6.0*/
		background: -webkit-linear-gradient(to bottom right, rgb(255,0,0,0.9),rgba(0,0,0,0.5)), url("assets/main-pic.jpg");
		/*Opera 11.1 to 12.0*/
		background: -o-linear-gradient(to bottom right, rgb(255,0,0,0.9),rgba(0,0,0,0.5)), url("assets/main-pic.jpg");
		/*Firefox 3.6 to 15*/
		background: -moz-linear-gradient(to bottom right, rgb(255,0,0,0.9),rgba(0,0,0,0.5)), url("assets/main-pic.jpg");
		/*Standard syntax(must be last)*/
		background: linear-gradient(to bottom right, rgb(255,0,0,0.9),rgba(0,0,0,0.5)), url("assets/main-pic.jpg");
		background-size: cover;
		background-position: center;
	}
	.top-story .title{
		font-size: 25px;
	}
	#top-tech .title{
		font-size: 40px;
	}
	/*latest news*/
	#latest-news:after{
		content: "";
		display: table;
		clear: both;
	}
	.article-name{
		font-size: 12px;
		font-weight: bold;
		display: block;
		line-height: 1.5em;
		color: black;
		margin-top: 1em;
	}
	.article-author{
		font-size: 10px;
		color: grey;
		clear: right;
	}
	
	.b{
		position: relative;
		clear: initial;
		width: 30%;
		float: left;
	}
	.b img{
		width: 100%;
		height: 60%;
		float: initial;
	}
	.top-right{
		position: relative;
		margin-top: -20px;
	}
	/*grid layout*/
	.row:after{
		content: "";
		display: table;
		clear: both;
		width: 100%;
	}
	[class*="col-lg"]{
		box-sizing: border-box;
		padding: 0.5em;
		float: left;
		height: 35vh;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.333%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-8{
		width: 66.667%;
	}
	.col-lg-12{
		width: 100%;
	}
	/*latest funding*/
	#latest-funding [class*="col-md"]{
		height: 30vw;
		line-height: 1.5em;
	}
	/*topics*/
	.topic.col-md-6{
		min-height: 750px;

	}
	.square{
		position:relative;
		height: 40%;
	}
	/*latest deals*/
	#latest-deals{
		padding-bottom: 1em;
	}
	.container{
		padding-left: 5%;
		padding-right: 5%;
	}
	/*latest deals*/
	#latest-deals [class*="col-lg"]{
		box-sizing: border-box;
		padding: 0.5em;
		float: left;
		height: 30vh;
	}
	/*get rid of logo in navbar*/
	#navbar2-logo{
		position: absolute;
		visibility: hidden;
	}
	#navbar-2{
		width: 100%;
	}
}
@media screen and (min-device-width: 1920px){
	[class*="top-story-col-"] {
	float:left;	
	}
	.top-story-col-1{
		width: 65%;
		padding-right: 0.5em;
		height: 100%;
	}
	.top-story-col-2{
		width: 33.5%;
	}
	.top-story{
		height: 12.5vw;
		margin-top: 0.5em;
		position: relative;
	}
	#top-tech{
		height: 25.5vw;
		background: linear-gradient(to bottom right, rgb(255,0,0,0.9),rgba(0,0,0,0.5)), url("assets/main-pic.jpg");
		background-size: cover;
		background-position: center;
	}

	/*latest news*/
	#latest-news:after{
		content: "";
		display: table;
		clear: both;
	}
	.article-name{
		font-size: 12px;
		font-weight: bold;
		display: block;
		line-height: 1.5em;
		color: black;
		margin-top: 1em;
	}
	.article-author{
		font-size: 10px;
		color: grey;
		clear: right;
	}
	
	.b{
		position: relative;
		clear: initial;
		width: 30%;
		float: left;
	}
	.b img{
		width: 100%;
		height: 60%;
		float: initial;
	}
	.top-right{
		position: relative;
		margin-top: -20px;
	}
	/*grid layout*/
	.row:after{
		content: "";
		display: table;
		clear: both;
		width: 100%;
	}
	[class*="col-lg"]{
		box-sizing: border-box;
		padding: 0.5em;
		float: left;
		height: 35vh;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.333%;
	}
	.col-lg-6{
		width: 50%;
	 
	}
	.col-lg-8{
		width: 66.667%;
		 
	}
	.col-lg-12{
		width: 100%;
		 
	}
	/*latest funding*/
	#latest-funding [class*="col-md"]{
		height: 30vw;
		line-height: 1.5em;
	}
	/*topics*/
	.topic.col-md-6{
		min-height: 750px;

	}
	.square{
		position:relative;
		height: 40%;
	}
	/*latest deals*/
	#latest-deals{
		padding-bottom: 1em;
	}
	.container{
		padding-left: 20%;
		padding-right: 20%;
	}
	/*latest deals*/
	#latest-deals [class*="col-lg"]{
		box-sizing: border-box;
		padding: 0.5em;
		float: left;
		height: 30vh;
	}
}
@media screen and (max-device-width: 320px){
	.top-right{
		padding-bottom: 1.5em;
	}
}